
main
{padding-bottom:150px;}/* main的padding-bottom值要等于或大于footer的height值 */

  div.list.li{
    font-size: larger;
    font-weight: bold;
  }
  body {
   min-height:100%;
   margin:0;
   position:relative;
   padding-left: 4em;
   padding-right: 4em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		color:black;
    background-color: white;
    }
	 ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
    background-color: black;
   }
	h1 {
    font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif ;
  color:black;}
  ul.navbar.li {
    float: left;
    color: white;
  }
  
  ul.navbar.li a {
    display: block;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
  }
  
  ul.navbar a {
    text-decoration: none;
    float:left;
    color:white; 
  text-align: center;
  padding: 14px 16px;}


    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
  .navbar a:hover,.dropdown:hover .dropbtn{
    background-color: grey;
  }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color:grey;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
  
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color:darkgrey;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    img{
      display: block;
      height: 300px;
    }
  footer{
    
    text-align: center;
   
    background-color: black;
    color:white;
    bottom: 0;
    position:fixed;
    width: 90%;
   height: 60px;
    
  }
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }
  